{{ define "content" }}
<p class="as-hint">Enter the email address of your account. We will send you a link to choose a new password.</p>
<form method="post" action="/forgot-password" class="flex flex-col gap-5">
    <input type="hidden" name="next" value="{{ .Next }}">
    <label class="as-field">Email <input class="as-input" name="email" type="email" value="{{ .Email }}" required autofocus autocomplete="email"></label>
    <button type="submit" class="as-button w-full">Send reset link</button>
</form>
{{ end }}
