{{ define "content" }}
<form method="post" action="/login" class="flex flex-col gap-5">
    <input type="hidden" name="next" value="{{ .Next }}">
    <label class="as-field">Username <input class="as-input" name="username" value="{{ .Username }}" required autofocus autocomplete="username"></label>
    <label class="as-field">Password <input class="as-input" name="password" type="password" required autocomplete="current-password"></label>
    <button type="submit" class="as-button w-full">Sign in</button>
</form>
{{ if .RegistrationOpen }}<p class="as-hint"><a href="/register">Create an account</a></p>{{ end }}
{{ end }}
