{{ define "content" }}
<p>You will be signed out of this browser.</p>
<form method="post" action="/logout" class="flex flex-wrap gap-2">
    <input type="hidden" name="next" value="{{ .Next }}">
    <button type="submit" class="as-button">Sign out</button>
    <a href="{{ .Next }}" class="as-button variant-outlined">Cancel</a>
</form>
{{ end }}
