{{ define "content" }}
<p>You will be signed out of this browser.</p>
<form method="post" action="/logout" class="flex flex-wrap gap-2">
    <button type="submit" class="btn">Sign out</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
{{ end }}
