{{ define "content" }}
<form method="post" action="/users/new" class="flex flex-col gap-5">
    <label class="field">Username <input class="input" name="username" value="{{ .Username }}" required autofocus autocomplete="off"></label>
    <label class="field">Display name <input class="input" name="name" value="{{ .Name }}" autocomplete="off"></label>
    <label class="field">Password <input class="input" name="password" type="password" required autocomplete="new-password"></label>
    <button type="submit" class="btn w-full">Add user</button>
</form>
<p class="hint">The person will need this password to sign in. They can change it afterwards.</p>
{{ end }}

{{ define "back" }}<p><a href="/admin/users" class="back-link">{{ template "mdi-arrow-left.svg" }}Back to users</a></p>{{ end }}
